#\begin{.config}

.config/GitKraken

.config/NuGet

.config/QtProject.conf

.config/Spyderrc

.config/Trolltech.conf

.config/akregatorrc

.config/arkrc

.config/autostart

.config/autostart-scripts

.config/baloofileinformationrc

.config/baloofilerc

.config/bluedevilglobalrc

.config/breezerc

.config/calligrarc

.config/calligrasheetsrc

.config/calligrawordsrc

.config/cef_user_data

.config/dconf

.config/discord

.config/dolphinrc

.config/emaildefaults

.config/falkon

.config/filelightrc

.config/fontconfig

.config/gconf

.config/google-chrome

.config/gtk-2.0

.config/gtkrc

.config/gtkrc-2.0

.config/gwenviewrc

.config/inkscape

.config/kactivitymanagerd-statsrc

.config/kactivitymanagerdrc

.config/karbonrc

.config/katemetainfos

.config/katerc

.config/kateschemarc

.config/katevirc

.config/kcmfonts

.config/kcminputrc

.config/kcmshell5rc

.config/kconf_updaterc

.config/kde.org

.config/kdebugrc

.config/kdeconnect

.config/kded5rc

.config/kdeglobals

.config/kdialogrc

.config/kfontinstuirc

.config/kfontviewrc

.config/kglobalshortcutsrc

.config/khelpcenterrc

.config/khotkeysrc

.config/kmenueditrc

.config/kmixrc

.config/knfsshare

.config/knotifyrc

.config/konsolerc

.config/krunnerrc

.config/kscreenlockerrc

.config/ksmserverrc

.config/ksplashrc

.config/ktimezonedrc

.config/kwalletmanager5rc

.config/kwalletrc

.config/kwinrc

.config/kwinrulesrc

.config/kxkbrc

.config/libaccounts-glib

.config/manjaro

.config/manjaro-hello.json

.config/matplotlib

.config/menus

.config/mimeapps.list

.config/octopi

.config/okularpartrc

.config/okularrc

.config/partitionmanagerrc

.config/pavucontrol.ini

.config/plasma-localerc

.config/plasma-nm

.config/plasma-org.kde.plasma.desktop-appletsrc

.config/plasma-workspace

.config/plasmanotifyrc

.config/plasmarc

.config/plasmashellrc

.config/powerdevilrc

.config/powermanagementprofilesrc

.config/print-manager

.config/pulse

.config/qterminal.org

.config/sddmthemeinstallerrc

.config/session

.config/spectaclerc

.config/spyder-py3

.config/startupconfig

.config/startupconfigfiles

.config/startupconfigkeys

.config/sublime-text-3

.config/systemmonitorrc

.config/systemsettingsrc

.config/thumbnail.sorc

.config/tilda

.config/trashrc

.config/unity3d

.config/user-dirs.dirs

.config/user-dirs.locale

.config/yakuakerc

.config/zathura
#\end{.config}

#\begin{.local/share}

.local/share/CKAN

.local/share/NuGet

.local/share/RecentDocuments

.local/share/Spyder

.local/share/Steam

.local/share/Trash

.local/share/applications

.local/share/aurorae

.local/share/baloo

.local/share/calligrasheets

.local/share/calligrawords

.local/share/color-schemes

.local/share/dolphin

.local/share/gsettings-data-convert

.local/share/gwenview

.local/share/icons

.local/share/inxi

.local/share/jupyter

.local/share/kactivitymanagerd

.local/share/karbon

.local/share/kate

.local/share/kcookiejar

.local/share/kded5

.local/share/khelpcenter

.local/share/klipper

.local/share/knewstuff3

.local/share/konsole

.local/share/kscreen

.local/share/kwalletd

.local/share/kxmlgui5

.local/share/okular

.local/share/plasma_icons

.local/share/recently-used.xbel

.local/share/sddm

.local/share/user-places.xbel

.local/share/user-places.xbel.bak

.local/share/user-places.xbel.tbcache

.local/share/vulkan

.local/share/wallpapers

.local/share/zathura
#\end{.local/share}

.cache/

.gitkraken/

.ipython/

.grsync/

.kde4/

.mono/

.nuget/

.steam/

.pki/

.nv/

.texlive/

Загрузки/

Документы/

.xinitrc

.mupdf.history

.nvidia-settings-rc

.profile

.steampath

.steampid

.viminfo

.esd_auth

.vim/plugged/

.vim/sessions/

.Xauthority

.Xclients

.bash_history

aircrack/

hack

.local/share/calligrasheets/

