#\begin{.config}

.config/GitKraken

.config/QtProject.conf

.config/Trolltech.conf

.config/VK

.config/akregatorrc

.config/autostart

.config/autostart-scripts

.config/baloofileinformationrc

.config/baloofilerc

.config/bluedevilglobalrc

.config/calligrarc

.config/calligrasheetsrc

.config/cef_user_data

.config/dconf

.config/device_automounter_kcmrc

.config/dolphinrc

.config/emaildefaults

.config/falkon

.config/fontconfig

.config/google-chrome

.config/gtkrc

.config/gtkrc-2.0

.config/gwenviewrc

.config/kactivitymanagerd-statsrc

.config/kactivitymanagerdrc

.config/katemetainfos

.config/katerc

.config/kateschemarc

.config/katevirc

.config/kcminputrc

.config/kconf_updaterc

.config/kdeconnect

.config/kded5rc

.config/kdeglobals

.config/kglobalshortcutsrc

.config/khotkeysrc

.config/kmixrc

.config/knfsshare

.config/krunnerrc

.config/kscreenlockerrc

.config/ksmserverrc

.config/ksplashrc

.config/ktimezonedrc

.config/kwalletmanager5rc

.config/kwalletrc

.config/kwinrc

.config/kwinrulesrc

.config/kxkbrc

.config/libaccounts-glib

.config/manjaro

.config/manjaro-hello.json

.config/mimeapps.list

.config/octopi

.config/plasma-localerc

.config/plasma-nm

.config/plasma-org.kde.plasma.desktop-appletsrc

.config/plasmanotifyrc

.config/plasmarc

.config/plasmashellrc

.config/powermanagementprofilesrc

.config/pulse

.config/session

.config/startupconfig

.config/startupconfigfiles

.config/startupconfigkeys

.config/sublime-text-3

.config/systemsettingsrc

.config/touchpadxlibinputrc

.config/trashrc

.config/user-dirs.dirs

.config/user-dirs.locale
#\end{.config}

#\begin{.local/share}

.local/share/RecentDocuments

.local/share/Steam

.local/share/Trash

.local/share/applications

.local/share/baloo

.local/share/calligrasheets

.local/share/dolphin

.local/share/gvfs-metadata

.local/share/kactivitymanagerd

.local/share/kate

.local/share/kcookiejar

.local/share/klipper

.local/share/knewstuff3

.local/share/konsole

.local/share/kscreen

.local/share/kwalletd

.local/share/kxmlgui5

.local/share/recently-used.xbel

.local/share/sddm

.local/share/user-places.xbel

.local/share/user-places.xbel.bak

.local/share/user-places.xbel.tbcache
#\end{.local/share}

.cache/

.gitkraken/

.ipython/

.grsync/

.kde4/

.mono/

.nuget/

.steam/

.pki/

.nv/

.texlive/

Загрузки/

Документы/

.xinitrc

.mupdf.history

.nvidia-settings-rc

.profile

.steampath

.steampid

.viminfo

.esd_auth

.vim/plugged/

.vim/sessions/

.Xauthority

.Xclients

.bash_history

aircrack/

hack

.local/share/calligrasheets/

