
.local/

.cache/

.config/

.gitkraken/

.ipython/

.grsync/

.kde4/

.mono/

.nuget/

.steam/

.pki/

.nv/

.texlive/

Загрузки/

Документы/

.xinitrc

.mupdf.history

.nvidia-settings-rc

.profile

.steampath

.steampid

.viminfo

.esd_auth

.vim/plugged/

.vim/sessions/

.Xauthority

.Xclients
